.landing {
  display: flex;
  min-height: 90vh;
}

@media (max-width: 600px) {
  .landing {
    flex-direction: column-reverse;
  }

  .aside-container {
    position: sticky;
    bottom: 0;
  }
  .aside-container > * {
    font-size: 2rem;
  }

  .outlet-container {
    flex-grow: 1;
  }
}
