.aside {
  background-color: var(--secondary-color);
  height: 100%;
  width: fit-content;
  position: sticky;
  top: 20;
  left: 0;
}

.aside:hover {
  width: 9rem;
}
.aside:hover h4 {
  display: block;
}

.aside-ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.aside-ul li {
  padding: var(--gap-small);
}
.aside-ul h4 {
  padding: 0 0.5rem;
  display: none;
}

.aside-ul li a {
  display: flex;
}

.aside-ul .active {
  color: var(--primary-color);
  padding: var(--gap-smallest);
  border-radius: 3rem;
  width: fit-content;
}

@media (max-width: 600px) {
  .aside {
    height: fit-content;
    width: 100%;
    padding: 1rem 0;
  }
  .aside-ul {
    flex-direction: row;

    justify-content: space-around;
  }
  .aside:hover {
    width: 100%;
  }
  .aside:hover h4 {
    display: none;
  }
}
